body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/background-img.jpeg);
  background-position: center;
  background-size: cover;
}

.header {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  background-color: #000000;
}
.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
}

.left-header button {
  padding: 4px 5px;
  border-radius: 50%;
  border: 1px solid #ff5722;
}

.header img {
  width: 50px;
}

.header .middle-header {
  display: flex;
  align-items: center;
  flex-basis: 60%;
}
.header .middle-header input {
  width: 100%;
  padding: 10px 10px;
  border-radius: 10px;
  border: none;
}

.header .middle-header .search img {
  height: 20px;
  width: 20px;
}

.header .middle-header button {
  padding: 6px 10px;
  background-color: orangered;
  border: none;
  margin-left: -8px;
}

.header .right-header .count p {
  background-color: orangered;
  padding: 2px 8px;
  border-radius: 50%;
  font-weight: 600;
  color: #fff;
  margin-bottom: -15px;
}

.header .right-header .order p {
  color: #fff;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .header img {
    width: 40px;
  }

  .header .middle-header input {
    padding: 6px 10px;
    width: 70%;
  }

  .header .middle-header .search img {
    height: 20px;
    width: 15px;
  }

  .header .middle-header button {
    padding: 2px 10px;
    background-color: orangered;
    border: none;
    margin-left: -8px;
  }
  .header .right-header .count {
    font-size: 11px;
    bottom: 40%;
  }

  .header .right-header .order p {
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  .header img {
    width: 25px;
  }
}

/*------------------------main styling start------------------------------*/
.main {
  margin-top: 60px;
  padding: 20px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 15px;
}

@media (max-width: 850px) {
  .menu-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px;
  }
}

@media (max-width: 575px) {
  .menu-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .menu-item button {
    padding: 4px;
    font-size: 16px;
  }
}

.menu-item {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 280px;
}

.menu-item .food-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item button {
  width: 100%;
  padding: 5px;
  background-color: orangered;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  transition: 0.3s;
}

.menu-item button:hover {
  background-color: orange;
}

.menu-item button:active {
  background-color: #ff5722;
}

.menu-item img {
  max-width: 100%;
  max-height: 100%;
}

.menu-item h2 {
  color: #555;
  font-size: 13px;
}

.price {
  font-weight: bold;
  color: #ff5722;
  font-size: 1.2rem;
}
