body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/background-img.jpeg);
  background-position: center;
  background-size: cover;
  height: 90vh;
}

.nav {
  padding: 20px 2%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}

.logo img {
  width: 10%;
}

.get-started button {
  width: 100%;
  white-space: nowrap;
  padding: 7px;
  color: #fff;
  background-color: orangered;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
}

.get-started button:hover {
  background-color: orange;
  color: #fff;
}

.main-con {
  margin: 40px auto;
  width: 90%;
}

.main-con .home-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  position: relative;
}

.main-con .home-text h1 {
  font-size: 40px;
}

.main-con .home-text p {
  font-size: 25px;
  color: #fff;
}

.active.main-con {
  filter: blur(5px) brightness(0.7);
}

.home-btn {
  margin-top: 40px;
  display: block;
}

.home-btn button {
  padding: 8px;
  background-color: orangered;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}

.home-btn button:hover {
  background-color: orange;
  color: #fff;
}

.home-img {
  flex-basis: 40%;
}

.home-img img {
  max-width: 70%;
  max-width: 70%;
  border-radius: 50%;
}
.login-con {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border: 1px solid orangered;
  border-radius: 10px;
  background-color: azure;
  max-width: 780px;
  width: 60%;
  padding: 4% 3%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  opacity: 1;

  transition: all 0.9s;
}

.login-con input,
button {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

.login-con input::placeholder {
  color: #999;
}

.login-con input {
  border: 1px solid #999;
}

.login-con button {
  background-color: orangered;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 500;
}

.login-con button:hover {
  background-color: orange;
}

.login-con .icon {
  position: absolute;
  top: 5%;
  left: 90%;
}

.login-con .icon .fas {
  font-size: 25px;
  color: #333;
  transition: 0.3s;
}

.login-con .icon .fas:hover {
  color: orangered;
}

.logActive.login-con {
  visibility: hidden;
  opacity: 1;
  top: 10%;
}

@media screen and (max-width: 950px) {
  .header {
    height: 60vh;
  }
  .login-con {
    width: 300px;
    padding: 5%;
  }

  .login-con input,
  button {
    margin-bottom: 10px;
    padding: 6px;
    border-radius: 5px;
    border: none;
  }

  .login-con input {
    border: 1px solid #999;
  }

  .login-con button {
    font-size: 18px;
  }
  .logo img {
    width: 8%;
  }

  .get-started button {
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
  }
  .main-con {
    width: 80%;
  }

  .main-con .home-text h1 {
    font-size: 30px;
  }

  .main-con .home-text p {
    font-size: 20px;
  }

  .home-btn button {
    padding: 7px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
  }
}

@media screen and (max-width: 800px) {
  .main-con .home-text h1 {
    font-size: 16px;
  }

  .main-con .home-text p {
    font-size: 15px;
  }
  .home-img img {
    position: absolute;
    top: 10%;
    width: 30%;
  }
}

@media screen and (max-width: 650px) {
  .login-con {
    padding: 6% 5%;
  }
  .header {
    height: 50vh;
  }
  .get-started button {
    padding: 4px;
    font-size: 14px;
    font-weight: 400;
  }

  .main-con .home-text h1 {
    font-size: 17px;
  }

  .main-con .home-text p {
    font-size: 15px;
  }

  .home-btn button {
    padding: 5px;
    font-size: 12px;
    font-weight: 400;
  }
}

@media screen and (max-width: 465px) {
  .header {
    height: 45vh;
  }
  .login-con {
    padding: 10% 1%;
  }
  .home-img img {
    width: 20%;
    top: 60%;
    right: 2%;
  }
  .main-con .home-text h1 {
    font-size: 16px;
  }

  .main-con .home-text p {
    font-size: 14px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 363px) {
  .logo img {
    width: 15%;
  }
  .main-con .home-con {
    margin-top: -40px;
  }
  p,
  h1 {
    font-size: 10px;
  }
  .login-con {
    max-width: 780px;
    width: 70%;
    padding: 12% 4% 3%;
  }
}

/*----------------question and answer styling start------------------------*/

.section-center p {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #777;
}

.section-center {
  width: 50%;
  margin: 50px auto 0;
}

.question {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 1rem;
}

.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-title p {
  color: orangered;
  font-weight: bolder;
  margin-bottom: 1.25rem;
}

.question-btn {
  background-color: transparent;
  border: none;
}
.fa-plus,
.fa-minus {
  font-size: 20px;
  background: orangered;
  border-color: transparent;
  color: white;
  border-radius: 50%;
  padding: 5px;
}

.minus-icon {
  display: none;
}

.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid grey;
  display: none;
  text-align: left;
}

.question-text p {
  text-align: left;
  color: #777;
}

.show-text .question-text {
  display: block;
}

.show-text .minus-icon {
  display: inline-block;
}

.show-text .plus-icon {
  display: none;
}

@media screen and (max-width: 650px) {
  .section-center {
    width: 80%;
  }
  .section-center p {
    font-size: 20px;
  }
  .question {
    padding: 3px 5px;
    margin-bottom: 10px;
  }

  .question-title p {
    font-size: 20px;
  }

  .fa-plus,
  .fa-minus {
    font-size: 17px;
    padding: 3px;
  }
}

/*----------------question and answer styling end------------------------*/

/*----------------testimonial styling start------------------------*/

.testimonial-con {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.testimonial-con h1 {
  font-size: 17px;
  color: #777;
}

.testimonial {
  margin: auto;
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #fff;
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.user-text {
  display: none;
  padding: 20px;
  color: #777;
  font-size: 22px;
}
.user-text.active-text {
  display: block;
  animation: moveup 0.5s linear forwards;
}
.user-text span {
  font-weight: 700;
  margin-top: 10px;
}

.testimonial-pic {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-pic img {
  width: 4%;
  margin: 10px;
  border-radius: 50%;
}
.pic.active-pic {
  border: 3px solid orangered;
  width: 5%;
}

@keyframes moveup {
  0% {
    margin-top: 25px;
  }
  100% {
    margin-top: 0px;
  }
}

@media screen and (max-width: 600px) {
  .testimonial {
    width: 80%;
    max-width: 800px;
    padding: 10px 15px;
    margin-top: -20px;
  }

  .user-text p {
    font-size: 17px;
    text-align: left;
  }
  .user-text span {
    font-weight: 600;
    margin-top: 10px;
    font-size: 15px;
  }

  .testimonial-pic img {
    width: 8%;
  }

  .pic.active-pic {
    width: 12%;
  }
}

@media screen and (max-width: 350px) {
  .testimonial-text {
    margin-top: -13px;
  }
  .user-text span {
    margin-top: -20px;
    font-size: 14px;
    font-weight: 600;
  }

  .user-text {
    margin-top: -5px;
    line-height: 22px;
    font-size: 20px;
  }
}
/*----------------testimonial styling end------------------------*/

/*----------------footer styling start------------------------*/
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
/*----------------footer styling end------------------------*/
